@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* import font */

:root{
  --dark-black: #111111;
  --dark-grey: #161616;
  --light-grey: #2D2D2D;
  --primary-text: #3B66D3;
  --secondary-text: #9C9C9C;
  --submit-text-color: #cbcbcb;
  --footer-text: #395FBE;
  --footer-links: #808080;
  --off-white: #b3b3b5;
  --off-white-transparent: rgba(179,179,181,.25);
}

body{
  font-family: 'Roboto', sans-serif;
  background: var(--dark-grey);
  margin:0;
}

h1, h2, h3{
  margin: 0;
}

/* Global Container*/
.container{
  width: 70%;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.divider{
  height: 1px;
  background: rgb(59,102,211);
  background: -moz-linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
  background: linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
}

/* Global Paragraph */
/* all paragraphs have the same color */
p{
  color:var(--secondary-text);
  padding: 0;
  margin: 0;
}

/*header Including the Airmen Motto*/
header{
  background: url("../images/mountain-magic-hour.jpg");
  background-position: top center;
  background-size: cover;
}

nav{
  color: var(--primary-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--off-white);
  padding: 20px 0 10px 0;
}

.logo{
  width: 50%;
  padding: .5em;
  font-weight: 800;
  font-size: 1.5em;
}

.nav-right{
  width: 50%;
  text-align: right;
  padding: 0px 3em 0px 0px;
  font-weight: 300;
  font-size: 1.2em;
}

.nav-right a{
  color: var(--primary-text);
  text-decoration: none;
  padding: 0px 20px;
  color: var(--off-white);
  border-left: 1px solid var(--off-white-transparent);
}

/* Pseudo element grabs last link */
.nav-right a:last-child{
  border-right: 1px solid var(--off-white-transparent);
}

/* Class not required anymore..
   Created the class for this for the border on the right. Without this it would show 2 lines between the links 
.about{
  border-right: 1px solid var(--off-white);
}
*/

.site-motto-container{
  text-align: center;
  padding: 100px;
}

.site-motto-container h1{
  font-size: 4em;
  color: rgb(46,83,175); /* Fallback for browsers not supporting gradient */
  color: linear-gradient(90deg, rgba(46,83,175,1) 0%, rgba(59,102,211,1) 100%);
}



/* Access and Description Box */
.access{
  background: var(--dark-grey);
  padding: 25px 0;
}

.access-component{
  flex-basis: 100%;
  border: var(--light-grey);
  background:var(--light-grey);
  padding: .8em;
  margin: 5% 2%;
  border-radius: 5px;
}

.access-component h2{
  color: var(--primary-text);
  text-align: center;
}

.enter-access h2{
  padding: .8em;
}

.enter-code{
  /* Dont want it centered, want it aligned with the header */
  margin-top: 3%;
  text-align: center;
}

.login-group{
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-group label{
  color: #878787;
}

.login-group input{
  border: 2px solid var(--primary-text);
  border-radius: 5px;
  background: #4d4d4d;
  padding: .5em .2em;
  outline: none;
  color: #878787;
  flex-basis: 85%;
}

.login-group p{
  text-align: center;
}

.login-group a{
  text-decoration: none;
  color: var(--primary-text);
}

.login-button{
  border-radius: 5px;
  padding: .5em 1em;
  background: var(--primary-text);
  color: var(--submit-text-color);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
}


/* This only the contact us section */
.contact{  /* this class is to only make a background color*/
  background: var(--dark-black);
  padding: 15px; /*the padding is to fix the colliding margin bug*/
}

.contact-us{ /*this section is to make the box */
  border: var(--light-grey);
  background: var(--light-grey);
  padding: .8em; /*this padding keeps the items away from the border*/
  flex-basis: 60%;
  border-radius: 5px;
}

.contact-us h2{
  color:var(--primary-text);
}

.contact-form{
  padding: 2em 5em;
}

.input-group{ /* might use this section to align the left side of the input boxed */
  padding: 5px;
  text-align:right;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
}

label{ /*used to set the color of the labels*/
  color: #878787;
  flex-basis: 15%;
  padding-right: 1em;
  /* might use this section to align the left side of the input boxed */
}


/* Youre selecting all inputs, its clashing with our other ones
.input-group input{
  border: 2px solid var(--primary-text);
  border-radius: 5px;
  background: #4d4d4d;
  /*need to choose a color for the text
}
/*message label needs to go to the top of the area and needs a margin*/

/* Do this instead */
.input-group input{
  border: 2px solid var(--primary-text);
  border-radius: 5px;
  background: #4d4d4d;
  padding: .5em .2em;
  outline: none;
  color: var(--submit-text-color);
  flex-basis: 85%;
}

.input-group textarea{
  border: 2px solid var(--primary-text);
  border-radius: 5px;
  background: #4d4d4d;
  flex-basis: 85%;
  outline: none;
  color: var(--submit-text-color);
  resize: none;
  min-height: 5em;
}

.contact-button{
  float: right;
  border-radius: 5px;
  padding: .5em 1em;
  background: var(--primary-text);
  color: var(--submit-text-color);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
}

/* Footer styles */
footer {
  background: var(--dark-black);
  padding: 25px 0;
}

.footer-box{
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
}
/* CSS hack for gradient border */
.footer-box::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:5px; 
  padding:2px; 
  background:linear-gradient(90deg,var(--primary-text),var(--dark-black)); 
  pointer-events: none; /* make links clickable in footer through mask */
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out; 
  mask-composite: exclude; 
}

.footer-text{
  flex-basis: 100%;
  padding: 2em 0;
}

.footer-text a{
  color: var(--footer-links);
  text-decoration: none;
  display: block;
}

.footer-text p{
  color: var(--footer-links);
}

.footer-text h3{
  color: var(--footer-text);
  
}





