@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* import font */

:root{
  --dark-black: #111111;
  --dark-grey: #161616;
  --light-grey: #2D2D2D;
  --primary-text: #3B66D3;
  --secondary-text: #9C9C9C;
  --submit-text-color: #cbcbcb;
  --footer-text: #395FBE;
  --footer-links: #808080;
  --off-white: #b3b3b5;
  --off-white-transparent: rgba(179,179,181,.25);
}

body{
  font-family: 'Roboto', sans-serif;
  background: var(--dark-grey);
  margin:0;
}

h1, h2, h3{
  margin: 0;
}

header{
  background: var(--dark-black);
  padding: 10px 30px;
}

header h1{
  color: var(--primary-text);
  font-weight: 800;
  font-size: 2em;
}

header a{
  text-decoration: none;
  color: inherit;
}

.divider {
  height: 1px;
  background: rgb(59,102,211);
  background: -moz-linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
  background: linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
}

.view{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video-container {  /*this is only for the video and its corresponding stuff |not the related stuff */
  width: 70%;
  margin-top: 1%;
}

.video video{
  width: 100%;
  aspect-ratio: 16/9;
}

.video-stats{
  max-width: 100%;
  background: var(--light-grey);
  padding: 10px;
  margin-top: 1%;
  border-radius: 5px;
  margin-bottom: 1%;
}

.video-stats h2{
  color: var(--primary-text);
  line-height: 1.2em;
}

.video-stats span{
  color: var(--secondary-text);
}

.video-stats p{
  margin-top: 5px 0;
  color: var(--secondary-text);
}

/* Sidebar */

.sidebar{
  display:flex;
  flex-direction: column;
  margin: 1%;
  padding: 10px;
  background: var(--light-grey);
  border-radius: 5px;
  width: 15%;
}

.sidebar h2{
  line-height: 1.2em;
  color: var(--footer-links);
}

.related-video{
  margin-bottom: 10px;
}

.related-video-thumbnail{
  display: block;
  max-width: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.related-video-details{
  background: var(--dark-grey);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--secondary-text);
  padding: 5px;
}

.related-video-details a{
  text-decoration: none;
  color: inherit;
}

.related-video-details a:hover{
  text-decoration: underline;
}

.related-video-details h4{
  margin: 0;
  color: var(--primary-text);
}

.related-video-details span{
  font-size: .8em;
  margin: 0;
  display: inline-block;
}

.related-author{
  display: block;
  margin: 0;
  line-height: 1.2em;
}

.related-stats{
  width: 60%;
}
.related-rating{
  text-align:right;
  width: 38%;
}

.notification-container{
  position: fixed;
  top: 1;
  right: 0;
  margin-top:3%;
  width: 30%;
}

.notification {
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  max-width: 60%;
  background: var(--primary-text);
  color: var(--submit-text-color);
  border: 1px solid var(--dark-grey);
  display:block;
}

