@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* import font */

:root{
  --dark-black: #111111;
  --dark-grey: #161616;
  --light-grey: #2D2D2D;
  --primary-text: #3B66D3;
  --secondary-text: #9C9C9C;
  --submit-text-color: #cbcbcb;
  --footer-text: #395FBE;
  --footer-links: #808080;
  --off-white: #b3b3b5;
  --off-white-transparent: rgba(179,179,181,.25);
}

body{
  font-family: 'Roboto', sans-serif;
  background: var(--dark-grey);
  margin:0;

}

h1, h2, h3{
  margin: 0;
}


header{
  background: var(--dark-black);
  padding: 10px 30px;
}

header h1{
  color: var(--primary-text);
  font-weight: 800;
  font-size: 2em;
}

header a {
  text-decoration: none;
  color: inherit;
}

.divider {
  height: 1px;
  background: rgb(59,102,211);
  background: -moz-linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
  background: linear-gradient(90deg, rgba(59,102,211,1) 0%, rgba(59,102,211,0) 100%);
}

.search{
  padding-top: 50px;
  padding-bottom: 50px;
}

.search-form{
 /* put a margin here for sizing */
  margin: 0 auto;
  width: 40%;
}

.search-input{
  width: 79%;
  border-top: 2px solid var(--primary-text);
  border-left: 2px solid var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #4d4d4d;
  font-size: 1.5em;
  outline: none;
  padding: .3em .2em;
  color: var(--submit-text-color);
}

.search-submit{
  margin-left: -.5em;
  border-top: 2px solid var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
  border-right: 2px solid var(--primary-text);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background: var(--primary-text);
  color: var(--submit-text-color);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  padding: .3em 0;
  width: 19%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  margin-bottom: 10px;
}

.video-grid{
  padding: 30px;
}

.video-element{
  height: 100%;
}

.video-element img{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.video-description{
  color:var(--primary-text);
  background: var(--light-grey);
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.video-description a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.video-description a:hover{
  color: var(--off-white);
}

.video-description h2{
  font-size: 1em;
  line-height: 1.2em;
}

.video-stats{
  text-align: left;
  width: 80%;
  display: inline-block;
}

.video-rating{
  text-align: right;
  width: 20%;
  display: inline-block;
}

.video-description span{
  color: var(--secondary-text);
  margin: 0;
  font-size: .8em;
}


/* YouLoad Results */

/* display flex column
align items center
justify content center */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h3{
  color: #959595;
}

.youload-results{
}

.result{
  display: flex;
  flex-direction: row;
  width: 60%;
  background: var(--light-grey);
  margin: 1% 0;
  border-radius: 5px;

}

.result img{
  max-width: 100%;
  width:100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: block;
}

.thumbnail-container{
  flex-basis: 40%;
}

.description-container{
  flex-basis: 60%;
  color: var(--secondary-text);
  padding: 5px;
}

.description-container a{
  text-decoration: none;
  color: inherit;
}

.description-container a:hover{
  text-decoration: underline;
}

.description-container h4{
  color:var(--primary-text); 
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2em;
}

.description-container p{
  margin: 0;
  padding-top: 10px;
  max-height: calc(1.2em * 8);
  overflow: hidden;
}

.description-container span{
  width: 49%;
  display: inline-block;
  margin-bottom: 3px;
}

.description-rating{
  text-align: right;
}

.notification-container{
  position: fixed;
  top: 1;
  right: 0;
  margin-top:3%;
  width: 30%;
}

.notification {
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  max-width: 60%;
  background: var(--primary-text);
  color: var(--submit-text-color);
  border: 1px solid var(--dark-grey);
  display:block;
}